<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Libary</title>
</head>
<body>
    Before 
    <br>
    <!-- this is going to include every single other one of the page right in here i body -->
    <%-body-%>  
    <br>
    After
</body>
</html>